<li>
{{burger_name}}

<button class = "change-me" data-id="{{id}}" data-neweat="{{devoured}}">
    {{#if devoured}} SO GOOD, make it again! {{else}} GET IN MY BELLY! {{/if}}
</button>

<button class = "big-mistake" data-id="{{this.id}}">Delete me - no one needs to know!</button>
</li>