<li>
	<div id="burgers">
	{{burgers}}
	</div>
	<div class="row">

	<button class="change-eaten" data-id="{{id}}" data-newburger="{{Eaten}}">
		{{#if eaten}} Try Again {{else}} Back to Menu {{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Toss it!</button>
	</div>
</li>